* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass';
}

:root {
    --Orange: hsl(25, 97%, 53%);

    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    background: var(--Very-Dark-Blue);
}

.container {
    color: white;
}

.card {
    max-width: 300px;
    margin: 80px auto;
    background-color: var(--Dark-Blue);
    padding: 1.5rem;
    border-radius: 1rem;
}

.star-icon img{
    background-color: hsl(211, 19%, 23%);
    padding: .7rem;
    border-radius: 50%;
    max-width: 13px;
}

h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
}
h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

p {
    margin-top: 1rem;
    font-size: .7rem;
    margin-bottom: 1rem;
    color: var(--Light-Grey);   
}

.thank-img img {
    display: block;
    margin: 1rem auto;
    max-width: 125px;
}

.selected-rating {
    text-align: center;
    background-color: hsl(211, 19%, 23%);
    color: var(--Orange);
    font-size: .7rem;
    padding: .7rem;
}